
@font-face {
  font-family: PurelyPeer-Regular;
  src: url(../assets/static/Comfortaa-Regular.ttf) format('truetype');
}
@font-face {
  font-family: PurelyPeer-Bold;
  src: url(../assets/static/Comfortaa-Bold.ttf) format('truetype');
}

.animate-in-load {
  animation: 1s appear;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
}

body #q-app {
  height: 100% !important;
}

// Navbar
.wrapper {
  top: 0px;
  position: fixed;
  display: flex;
  width: 100%;
  margin: auto;
  align-items: stretch;
  background: #0AC18E;
  box-shadow: inset 6px 6px 12px #09b384,
              inset -6px -6px 12px #0bcf98;
  z-index: 2000;
}
#menu {
  width: 100%;
  background: #0AC18E;
}
#menu ul {
  display: inline-block;
  list-style: none;
  height: 60px;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center
}
#menu ul li {
  display: inline-block;
  margin: -4px;
  padding: 4px 0 0 4px;
  text-align: center;
}
#menu ul li a {
  display: block;
  height: 60px;
  color: #fff;
  padding: 12px 20px 0 20px;
  text-decoration: none;
}
#menu ul li a.active {
  background: #0AAB7E;
}
.fs-2 {
  font-size: 24px;
}
.color-b {
  color: #fff;
}

// App Logo
#logo {
  min-width: 60px !important;
  max-width: 60px !important;
  max-height: 60px;
  background: #0AC18E;
}

// Explore mode
#explore-map {
  position: relative !important;
  margin-top: 60px;
  width: 100%;
  // box-shadow: inset 6px 6px 12px #b3d5e8,
  //             inset -6px -6px 12px #cdf5ff;
}
.map-layout {
  width: 100%;
  height: 334px !important;
}
h4, .quest-caption {
  font-family: PurelyPeer-Bold;
  color: #0AC18E;
}
p, div > span {
  font-family: PurelyPeer-Regular;
  color: #175477;
}
#payment {
  width: 100%;
  border: 1px solid #ACDED0;
  border-bottom: none;
  background: #B5ECDD;
  // box-shadow: inset 6px 6px 12px #a8dbce,
  //             inset -6px -6px 12px #c2fdec;
}
.quest-label {
  color: #0AC18E;
}
#quest-list {
  width: 100%;
  border-bottom: none;
}
.quest-container {
  // background: #B5ECDD;
  height: 100%;
}
// table tbody.quest-table tr.quest-row {
//   margin: 0px !important;
//   border: 1px solid green !important;
// }
#menu-list {
  // height: 450px;
  width: 100%;
  // background: #0AC18E;
  // box-shadow: inset 6px 3px 12px #09b283,
  //             inset -6px -3px 12px #0bd099;
}
h5 {
  font-family: PurelyPeer-Bold
}

// Cash Drop
h5 {
  font-family: PurelyPeer-Bold;
  color: #0AC18E;
}

// Collect
#collect-map {
  position: relative !important;
  margin-top: 60px;
  width: 100%;
}
.leaflet-control-container {
display: block;
}
.leaflet-control-zoom {
right: 0px;
bottom: -8px;
}
.leaflet-control-layers {
right: 0px;
bottom: -8px;
}
