
@font-face {
  font-family: PurelyPeer-Regular;
  src: url(../assets/static/Comfortaa-Regular.ttf) format('truetype');
}
@font-face {
  font-family: PurelyPeer-Bold;
  src: url(../assets/static/Comfortaa-Bold.ttf) format('truetype');
}

.animate-in-load {
  animation: 1s appear;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
}

body #q-app {
  height: 100% !important;
}

// Navbar
.wrapper {
  top: 0px;
  position: fixed;
  display: flex;
  width: 100%;
  margin: auto;
  align-items: stretch;
  box-shadow: inset 6px 6px 12px #09b384,
              inset -6px -6px 12px #0bcf98;
  z-index: 2000;
}
#menu {
  width: 100%;
  background: #0AC18E;
}
#menu ul {
  display: inline-block;
  list-style: none;
  height: 60px;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center
}
#menu ul li {
  display: inline-block;
  margin: -4px;
  padding: 4px 0 0 4px;
  text-align: center;
}
#menu ul li a {
  display: block;
  height: 60px;
  color: #fff;
  padding: 12px 20px 0 20px;
  text-decoration: none;
}
#menu ul li a.active {
  background: #0AAB7E;
}
.fs-2 {
  font-size: 24px;
}
.color-b {
  color: #fff;
}

// App Logo
#logo {
    min-width: 60px !important;
    max-width: 60px !important;
    max-height: 60px;
  background: #0AC18E;
  // box-shadow: inset 6px 6px 12px #09b384,
  //             inset -6px -6px 12px #0bcf98;
}

// Explore mode
#explore-map {
  position: relative !important;
  margin-top: 60px;
  width: 100%;
  // overflow: auto;
  // box-shadow: inset 6px 6px 12px #b3d5e8,
  //             inset -6px -6px 12px #cdf5ff;
}
.map-layout {
  width: 100%;
  height: 334px !important;
}
h4, .quest-caption {
  font-family: PurelyPeer-Bold;
  color: #0AC18E;
}
p, div > span {
  font-family: PurelyPeer-Regular;
  color: #175477;
}
#payment {
  width: 100%;
  border: 1px solid #ACDED0;
  border-bottom: none;
  background: #B5ECDD;
  // box-shadow: inset 6px 6px 12px #a8dbce,
  //             inset -6px -6px 12px #c2fdec;
}
.quest-label {
  color: #0AC18E;
}
#quest-list {
  width: 100%;
  border-bottom: none;
}
.quest-container {
  // background: #B5ECDD;
  height: 100%;
}
.quest-list {
  background: #B5ECDD;
  border-radius: 14px;
  border: 2px solid #84C2B1;
}
// table tbody.quest-table tr.quest-row {
//   margin: 0px !important;
//   border: 1px solid green !important;
// }
.quest-main {
  height: 200px;
  overflow: auto;
  margin-bottom: 10px !important;
  // border-top: 1px solid #B2B2B2;
  // border-bottom: 1px solid #B2B2B2;
}
.quest-visible {
  height: inherit !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
#ratio-option ul {
  display: inline-block;
  list-style: none;
  height: 66px;
  padding-right: 0;
  padding-left: 0;
  margin: 0;
  width: 100%;
  text-align: center;
}
#ratio-option ul li {
  display: inline-block;
  padding: 4px 0 0 0;
  width: 33.33%;
  margin-right: 0;
}
#ratio-option ul li a {
  display: inline-block;
  line-height: 56px;
  text-align: center;
  background: #B5ECDD;
  border: 1px solid #9DD0C2;
  // border-width: 2px 2px 2px 2px !important;
  text-decoration: none;
  border-radius: 10px;
  width: 90% !important;
  box-shadow: 0px 1px 1px 1px #E0E0E0;
}
#menu-list {
  // height: 450px;
  width: 100%;
  // background: #0AC18E;
  // box-shadow: inset 6px 3px 12px #09b283,
  //             inset -6px -3px 12px #0bd099;
}
h5 {
  font-family: PurelyPeer-Bold
}

// Setting
#setting {
  height: 350px;
  width: 100%;
  background: #B5ECDD;
  box-shadow: inset 6px 6px 12px #a8dbce,
              inset -6px -6px 12px #c2fdec;
}

// BCH Wallet
#bch-balance {
  height: 100px;
  width: 100%;
  // background: #0AC18E;
  // box-shadow: inset 6px 3px 12px #09b283,
  //             inset -6px -1px 12px #0bd099;
}
.bch-menu-list ul {
  display: block;
  list-style: none;
  height: 30px;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  
}
.bch-menu-list ul li {
  position: relative;
  display: inline-block;
  line-height: 24px;
}
.bch-menu-list ul li a {
  display: block;
  color: #54796F;
  text-align: center;
  text-decoration: none;
  padding: 4px 26px 2px 26px;
  font-weight: bolder;
  font-size: 15px;
  width: 100%;
}
.divider {
  position: absolute;
  height: 14px;
  border-left: 2px solid #54796F;
  right: -.45px;
  top: 6px;
  z-index: 11;
}

// Cash Drop
h5 {
  font-family: PurelyPeer-Bold;
  color: #0AC18E;
}

// Collect
#collect-map {
  position: relative !important;
  margin-top: 60px;
  width: 100%;
}
.leaflet-control-container {
display: block;
}
.leaflet-control-zoom {
right: 0px;
bottom: -8px;
}
.leaflet-control-layers {
right: 0px;
bottom: -8px;
}
